
$("#instruction_<%= @instruction.id %>").remove();
$(".dependent_instruction_<%= @instruction.id %>").remove();
$(".jump_dependent_answer_to_instruction_<%= @instruction.id %>").html('<span class="pull-right text-muted small"><em>Goes to next question if selected</em></span>');


