# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f3757ba24299e1a3cdc19a8c5a8baa16120c37965f54f6040b55ea3fae931ce2f35f4ed1899bc931f57d2291c857f32606d8585b9d2b6fa64b147a292254ab78
  S3_BUCKET_NAME: "makoanswer"
  AWS_ACCESS_KEY_ID: "AKIAJTQKHOUEQFWZYNGA"
  AWS_SECRET_ACCESS_KEY: "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"

test:
  secret_key_base: 57e5b047e4f9a2315a893e49a38bfc4c0b233941eee9d9b1548aa5acf1341c260a66c236465a92f00bea595c2b866f295465db5822003b048884e82b6dddf51
# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
