<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">All Lessons</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
<% index = 1 %>

<% @lessons.each do |lesson| %>


    <div class="col-lg-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <%= lesson.name %>
            </div>
            <div class="panel-body">
                <p><%= lesson.description %></p>
            </div>
            <div class="panel-footer">
                Last updated <%= time_ago_in_words(lesson.updated_at) %> ago. <br/>
                <%= link_to "Edit this lesson",edit_lesson_path(lesson) %>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>

    <% if (index % 3 == 0) %>
        </div>
        <!-- End Row -->
        <!-- Begin Row -->
        <div class="row">
    <% end %>
    <% index += 1 %>

<% end %>

</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                Lesson Name
            </div>
            <div class="panel-body">
                <p>Color depends on category. </br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
            <div class="panel-footer">
                Last updated Wednesday, April 4th 2016
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <div class="col-lg-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Lesson Name
            </div>
            <div class="panel-body">
                <p>Color depends on category. </br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
            <div class="panel-footer">
                Last updated Wednesday, April 4th 2016
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <div class="col-lg-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                Lesson Name
            </div>
            <div class="panel-body">
                <p>Color depends on category. </br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
            <div class="panel-footer">
                Last updated Wednesday, April 4th 2016
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
<!-- /.row -->




